<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astro CSS</title>
    link(rel="stylesheet", href="style.scss")
</head>
<body>
    .note Based on this 
	a(href="https://dribbble.com/shots/3127773-Event-Card", target="_blank") dribbble
article.card
	.thumb
	.infos
		h2.title new york city
			span.flag
		h3.date november 2 - 4
		h3.seats seats remaining: 2
		p.txt
			| Join us for our Live Infinity Session in
			| beautiful New York City. This is a 3 day
			| intensive workshop where you'll learn
			| how to become a better version of...
		h3.details event details
</body>
</html>